.o_dashboards{
    padding-top :15px;
    background-color: #f8faff !important;
    width: 100%;
  }

.card {
    padding-top: 0px;
    padding: 14px;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    box-shadow: 2px 14px 32px 5px rgba(0, 0, 0, 0.02), 0 3px 13px 0px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
}

.card:hover{
    transform: translateY(-5px) translateZ(0);
    box-shadow: 0 16px 32px 0 rgba(62,57,107,0.28), 0 0 0 transparent;
}
  .card h4 {
    font-size: 1.1rem; }
  .card .user-header .media img {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    -webkit-border-radius: 50%; }
  .card .card-header .card-actions button {
    display: block;
    float: left;
    width: 50px;
    padding: .75rem 0;
    margin: 0 !important;
    color: #fff;
    outline: 0;
    text-align: center;
    background: transparent;
    border: 0;
    border-left: 1px solid rgba(120, 130, 140, 0.4); }
  .card .card-footer {
    padding: 0.65rem 1.25rem;
    background-color: #f0f3f5;
    border-top: 1px solid #c2cfd6; }
    .card .card-footer ul li {
      display: table-cell;
      padding: 0 1rem;
      text-align: center; }

.card-body {
    padding: 0 0;
}

/*    Widget One
---------------------------*/
.dib {
  display: inline-block; }

.stat-widget-one .stat-icon {
    vertical-align: top;
    margin: auto;
    width: 100%;
    color: #01c490;
}
.stat-widget-one {
    background-color: white;
    text-align: center;
}

.stat-widget-one .stat-icon i {
  font-size: 30px;
  font-weight: 900;
  display: inline-block;
  color: #01c490;}

.stat-widget-one .stat-text {
  margin: 5px 0px 1px 0px;
  font-size: 14px;
  color: #868e96; }

.stat-widget-one .stat-digit {
  font-size: 24px;
  color: #02448b; }

.stat-count {
  font-size: 20px;
  text-align: center;
  color: #00438b;}

.stat-title {
  font-size: 17px;
  text-align: center;
  color: #00438b; }


.tda_dashboard_panel{
  padding-top:25px;
  padding-left:20px;
  padding-right:20px;
  cursor: pointer;
}
.tda_card {
    height: 122px;
}

.tda_card_small {
    padding-top: 22px;
}